<footer class="footer">
  <div class="site-footer">
    <p>Reuben Ingber is a front-end engineer at <a href="#">Business Insider</a> <br />in New York City, a runner and podcast host.</p>

    <ul class="ui-list inline-list">
      <li><a class="social-link" href="http://twitter.com/reubeningber">Twitter</a></li>
      <li><a class="social-link" href="http://facebooking.com/reubeningber">Facebook</a></li>
      <li><a class="social-link" href="http://instagram.com/reubeningber">Instagram</a></li>
      <li><a class="social-link" href="http://github.com/reubeningber">Github</a></li>
      <li><a class="social-link" href="https://www.workingnotworking/reubeningber">Working Not Working</a></li>
      <li><a class="social-link" href="https://www.linkedin.com/in/reubenaingber">LinkedIn</a></li>
    </ul>
  </div>
</footer>