<footer class="footer">
  <div class="site-footer-container">
    <p>Reuben Ingber is a front-end engineer at <a target="_blank" href="http://businessinsider.com">Business Insider</a> in New York City, a runner and podcast host.</p>

    <ul class="ui-list inline-list">
      <li><a class="social-link" href="http://twitter.com/reubeningber"><i class="fa fa-twitter"></i></a></li>
      <li><a class="social-link" href="http://facebooking.com/reubeningber"><i class="fa fa-facebook"></i></a></li>
      <li><a class="social-link" href="http://instagram.com/reubeningber"><i class="fa fa-instagram"></i></a></li>
      <li><a class="social-link" href="http://github.com/reubeningber"><i class="fa fa-github"></i></a></li>
      <!-- <li><a class="social-link" href="https://www.workingnotworking/reubeningber">Working Not Working</a></li> -->
      <li><a class="social-link" href="https://www.linkedin.com/in/reubenaingber"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</footer>