.entry__hero {
	width: 140%;
	margin-left: -20%;
	
	img {
		width: 100%;
	}

	@include media(max-width $tablet) {
		width: 100%;
		margin-left: 0;
	}
} 

.entry__item {

}

.entry-item__title {
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;


	a {
	border-bottom: 2px solid #ffffff;
		color: $black;
		
		&:hover {
			border-bottom: 2px solid $black;
		}
	}

}

.entry-item__intro {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1;
    font-size: 24px;
    color: grey;
}

.entry-item__meta {
	color: grey;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	display: block;
	margin: 0 0 10px 0;
}