.entry-item__header {
  text-align: center;
  border-bottom: 3px solid $green;
  margin-bottom: 20px;

}

.entry__hero {
	margin-top: 20px;
    margin-bottom: 20px;
	
	img {
		width: 100%;
	}
} 

p img {
	width: 100%;
}

.entry-item {
	border-bottom: 1px solid $black;
	margin-bottom: 10px !important;

	&:last-child {
		border-bottom: none;
	}
}

.entry-item__title {
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;


	a {
	border-bottom: 2px solid transparent;
	color: $black;

		
		&:hover {
			color: $green;
			border-bottom: 2px solid $green;
		}
	}

}

.entry-item__intro {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1;
    font-size: 18px;
    color: grey;
}

.entry-item__meta {
	color: grey;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	margin: 0 0 10px 0;
}