// Footer 

footer {
	margin-top: 25px;
	background: $black;
	color: white;
}

.site-footer {
  @include span-columns(8);
  @include shift(2);
  padding: 50px 0;

  p {
    color: $green;
  }
}

.site-footer a {
  color: white;
  text-decoration: none;
  font-weight: 400;

  &:hover {
  	color: grey;
  }
}

.social-link {
  padding: 0 5px;
}