// Footer 

footer {
	margin-top: 25px;
	background: $black;
	color: white;
  text-align: center;
}

.site-footer-container {
  padding: 50px 0;

  p {
    color: $green;
  }
}

.site-footer-container a {
  color: white;
  text-decoration: none;
  font-weight: 400;

  &:hover {
  	color: $green;
  }
}

.social-link {
  font-size: 20px;
  padding: 0 5px;


}