.site-header {
  margin: 0 auto 20px 0;
  background: $black;
  color: $green;
  border-bottom: 5px solid $black;
  padding: 20px 0;
}

.site-nav {
  @include span-columns(8);
  padding: 15px 0 0 0;
  text-align: right;

  @include media(max-width $tablet) {
    @include span-columns(12);
    text-align: center;
  }
}

.site-title {
  @include span-columns(4);

  @include media(max-width $tablet) {
    @include span-columns(12);
    text-align: center;
  }
  

}

.site-title__name,
.site-title__name_small {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;

  a {
    color: $green;
  }
}


.site-title__name_small {
  font-size: 24px;
  font-weight: 400;
  text-transform: lowercase;
  color: $white;

}

.site-nav__link {
  padding: 0 5px 5px 5px;
  color: $green;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  
  &:hover {
    text-decoration: none;
    border-bottom: 2px solid $green;
    color: $green;
  }

  @include media(max-width $mobile) {
    padding: 0 2px 2px 2px;
  }
}

