// Base Styles
body {
  font-family: 'Open Sans', sans-serif;
}

h1, 
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

h1,
.h1 {
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700;
}
h2,
.h2 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
}
h3,
.h3 {
  font-size: 24px;
  font-size: 1.5rem;
}
h4,
.h4 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}
h6,
.h6 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

p {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: $black;  
  font-weight: 700;
}

a:hover {
  color: grey;
}

a.active {
  color: $black;
}

strong {
  font-weight: 700;
}

.small {
  font-weight: 400;
}

ul {
  list-style-type: square;
  margin: 25px 30px;
}

em {
  font-style: italic;
}

blockquote {
  padding: 0 70px 0 20px;
  border-left: 5px solid #191919;
  margin: 0 0 0 60px;
}