{% capture header %}
	<header class="entry-item__header">
		<h1 class="entry-item__title">{{title}}</h1>
	 	<span class="entry-item__meta">{{date | date: "%b %d, %Y"}}</span>
	 	{% if taxonomy['tags'] %} 
      <span class="entry-item__meta"> 
          | Tagged: 
          {% for tag in taxonomy['tags'] %}
            <a href="{{tag.url}}">{{tag.value}}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </span>
      {% endif %}
	 </header>

	{% if meta['hero-image'] %}
		<div class="entry__hero">
			<img src="{{ meta['hero-image'] }}" alt="">
		</div>
	{% endif %}


{% endcapture %}

{% capture content %}
   <article class="entry-item">
	  
	  {{body}}
	</article>	

	<nav class="entry-nav">
        {% if previous %}<a href="{{ previous.url }}" class="prev-link">Previous</a>{% endif %}
        {% if next %}<a href="{{ next.url }}" class="next-link">Next</a>{% endif %}
    </nav>
{% endcapture %}
{% include 'layouts/notes' %}
