{% capture content %}
  {% for post in posts %}
    {% assign year = post.date | date: '%Y' %}

    {% if year != prev_year %}
        <section class='list-section'>
          <h3>{{ year }}</h3>
          <ul class='vertical-list'>
    {% endif %}

    <article class="entry-item">
      <header><h2 class="entry-item__title"><a href="{{post.url}}">{{post.title}}</a></h2></header>
      <span class="entry-item__meta">{{post.date | date: "%b %d, %Y"}}</span>
      {% if post.meta['Intro'] %}
      <p class="entry-item__intro">{{post.meta['Intro']}}</p>
      {% endif %}
    </article>

    {% assign prev_year = year %}
  {% endfor %}
        </section>
{% endcapture %}

{% include 'layouts/default' %}