{% capture content %}
   <article class="entry-item">
	  <header>
	  	<h1 class="entry-item__title"><a href="{{url}}">{{title}}</a></h1>
	  	<h2 class="entry-item__intro">{{meta['Intro']}}</h2>
	  </header>

	  {{body}}
	</article>

	<nav class="entry-nav">
        {% if previous %}<a href="{{ previous.url }}" class="prev-link">Previous: {{previous.title}}</a>{% endif %}
        {% if next %}<a href="{{ next.url }}" class="next-link">Next: {{next.title}}</a>{% endif %}
    </nav>	
{% endcapture %}
{% include 'layouts/default' %}
