<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% if meta.redirect %}
          <meta http-equiv="refresh" content="0;url={{meta.redirect}}">
        {% endif %}

        <title>{{ site.title }} | {{ current.title }} </title>

        <meta name="description" content="Reuben Ingber is a front end web developer and designer." />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@reubeningber">
        <meta name="twitter:creator" content="@reubeningber">
        <meta name="twitter:title" content="{{ site.title }} | {{ current.title }}r">
        <meta name="twitter:description" content="Reuben Ingber is a front end web developer and designer">
        <meta name="twitter:image:src" content="http://www.reubeningber.com/assets/img/reuben.jpg">

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ site.title }} | {{ current.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://reubeningber.com" />
        <meta property="og:image" content="http://www.reubeningber.com/assets/img/reuben.jpg" />
        <meta property="og:description" content="Reuben Ingber is a front end web developer and designer" /> 
        <meta property="og:site_name" content="Reuben A. Ingber | Front-End Web Developer" />

        <!-- Favicon  -->

        <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
         <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/new_style.css">

    </head>
    <body>
        <div class="wrapper">
    		{% include 'includes/header' %}
            <div class="main-content notes">
                <div class="main-content-inner">
                    <div class="content-header">
                        {{ header }}
                    </div>
                    <div class="content-body">
                        {{ content }}        
                    </div>
                    <div class="right-rail">
                        {% include 'includes/right-rail' %}

                    </div>
                </div>
                {% if url == '/' %}
                    {% include 'includes/home_instagram' %}
                {% endif %}
            </div>

            <div class="push"></div>
        </div>
		{% include 'includes/footer' %}

        <script src="/assets/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/vendor/instafeed.js"></script>
		<script src="/assets/js/scripts.js"></script>
    </body>
</html>
